@import url('https://fonts.googleapis.com/css2?family=Geist+Pixel&display=swap');
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(49, 63, 107);
    flex-direction: column;
}
canvas{
    box-shadow: 0 0 5px white;
    border-radius: 10px;
}
h1{
    color: white;
    font-family: "Geist Pixel", sans-serif;
}
a{
    color: white;
    font-size: 25px;
    text-decoration: none;
    font-family: "Geist Pixel", sans-serif;
    padding: 0.3em;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0);
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
}
a:hover{
    border: 1px solid white;
}